[Unit]
Description=uWSGI instance to serve the registration app
After=network.target

[Service]
WorkingDirectory=/home/user/registration
ExecStart=/usr/bin/uwsgi --ini etc/registration_app.uwsgi

[Install]
WantedBy=default.target
